@charset "UTF-8";

/*
    Media Queries para outros dispositivos
*/

@media screen and (min-width: 769px;) {
    
    span#burguer{
        display: none;
    }

    header > nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}