@charset "UTF-8";

/*  Typical Device Breakpoints em 2024
    Pequenas Telas: até 600px
    Celular: de 600px até 768px
    Tablet: de 769px até 992px
    Desktop: de 993px até 1200px
    Grandes Telas: maiores de 1201px
*/

/*
    Media Queries para outros dispositivos
*/

@media screen and (min-width: 769px) and (max-width: 992px) { /* Tablet */
    
    body{
        font-size: 1.1em;
    }

    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header > h1{
        text-align: left;
        flex: 0 0 150px;
    }

    span#burguer{
        display: none;
    }

    header > nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    header > nav > a{
        width: 100px;
    }

    main{
        width: 700px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 
    /* Desktop*/
    
    body{
        font-size: 1.4em;
    }

    header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    header > h1{
        text-align: left;
        flex: 0 0 190px;
    }

    span#burguer{
        display: none;
    }

    header > nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    header > nav > a{
        width: 120px;
    }

    main{
        width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    /*Grandes Telas*/

    body{
        font-size: 1.4em;
    }

    header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    header > h1{
        text-align: left;
        flex: 0 0 190px;
    }

    span#burguer{
        display: none;
    }

    header > nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    header > nav > a{
        width: 120px;
    }

    main{
        width: 800px;
    }
}