@charset "UTF-8";

/*
    Media Query para todos os dispositivos
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: grey;
    color: white;
    padding: 10px;
}

header > h1{
    border: 1px dotted black;
}

header > nav{
    border: 1px dotted black;
}

header > nav > a{
    text-decoration: none;
    color: white;
}

header#container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
}

header > h1.item{
    flex: 1 0 auto;
    padding: 30px;
}

header > nav > a.item{
    flex: 1 1 auto;
    padding: 30px;
}

main{
    background-color: white;
    width: 400px;
    margin: 10px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.411);
}

main > h2{
    padding-bottom: 20px;
    text-align: center;
}

main > p{
    text-indent: 20px;
    text-align: justify;
    padding-bottom: 10px;
}