@charset "UTF-8"

/* Configurações gerais */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}

@media all{
    html, body{
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }
    
    h1{
        color: white;
        padding: 10px;
        text-shadow: 2px 2px #1d33d8;
    }
    
}

/* Configurações retrato */
@media screen and (orientation: portrait) {
    body{
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/* Configurações paisagem */
@media screen and (orientation: landscape) {
    body{
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}